@page "/updateuser/{id:int}"
@using ForumAdminPanel.Models;
@inject UserService userService
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize(Roles = "1")]
<h3>Update User Component</h3>

<div>
    <button @onclick="@(()=>{navManager.NavigateTo("/testusers",true);})" class="btn btn-info btn-sm">
       Back to Users
    </button>
</div>

<EditForm Model="@user" OnSubmit="@SaveChanges">
    <div class="mb-3">
        <label for="username" class="form-label">UserName</label>
        <input type="text" class="form-control" id="username" placeholder="@user.UserName" @bind="@user.UserName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="@user.Email" @bind="@user.Email">
    </div>
    <div class="mb-3">
        <label for="userpassword" class="form-label">Password</label>
        <input type="text" class="form-control" id="userpassword" placeholder="@user.Password" @bind="@user.Password">
    </div>

            <div class="mb-3">
                <label for="userstatus" class="form-label">User status</label>
                <input type="number" min="1" max="3" class="form-control" id="userstatus" placeholder="@user.Password" @bind="@user.UserStatus">
            </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
      
    private User user { get; set; }

    private void SaveChanges()
    {
        userService.UpdateUser(user);
        js.InvokeVoidAsync("alert","User shanges saved");
        navManager.NavigateTo("/testusers", true);

    }

    protected override async Task OnInitializedAsync()
    {
  
        user = userService.GetUser(id);
    }
}   
